<div class="block">
  <h2>事件级懒加载</h2>
  <div class="tip">事件一追随路由加载。F12进入控制台，点击事件查看网络！</div>
  <div class="event-load-box">
    <div>事件一</div>
    <button (click)="eventLoadTwo()">事件二</button>
    <button (click)="eventLoadThree()">事件三</button>
    <button (click)="eventLoadFour()">事件四</button>
  </div>
  <event-load-one />
  <event-load-two />
  <event-load-three />
  <event-load-four />
</div>

<div class="block">
  <h2>路由级懒加载</h2>
  <nav>
    <a routerLink="1">导航一</a>
    <a routerLink="2">导航二</a>
    <a routerLink="3">导航三</a>
    <a routerLink="4">导航四</a>
  </nav>
  <router-outlet></router-outlet>
</div>
